@media (max-width: 799px){
    .verde{
        width: 100%;
        height: 500px;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150px;
    }
    .rojo{
        display: none;
    }
}
@media (min-width: 800px){
    .rojo{
        width: 100%;
        height: 500px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150px;
    }    
    .verde{
        display: none;
    }    
}



    .caja{
    width: 100%;
    height: 50px;
    background-color: beige;
    margin-top: 5%;
}

    .caja-verde{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 40px;
    background-color: green;
    margin: 2px;

}

    .caja-roja{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 40px;
    background-color: red;
    margin: 2px;

}
